<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="plus54" translate="label" sortOrder="10">
            <label>Plus54</label>
        </tab>
        <section id="cloudflareaccess" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>CloudFlare Access</label>
            <tab>plus54</tab>
            <resource>Plus54_CloudFlareAccess::cloudflareaccess_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="certs_url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Certs URL</label>
                    <comment>URL to CloudFlare JWKs. Example: https://example.com/cdn-cgi/access/certs</comment>
                </field>
            </group>
        </section>
    </system>
</config>
